<!DOCTYPE html>
<html lang="en" xmlns:margin-right="http://www.w3.org/1999/xhtml" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="#{home.page}"></title>

  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">

</head>
<body>
<br>
<div style="text-align: center">
  <a href="http://localhost:8080/" class="btn" th:text="#{home.page}" style="margin-left: auto; margin-right: auto; background-color: aquamarine"></a> </div>
<br>
<iframe src="https://giphy.com/embed/MXA8QkWdYxgE2dWZ1I" width="480" height="384" frameBorder="0"
        class="giphy-embed" allowFullScreen style="display: block;
            margin-left: auto; margin-right: auto"></iframe>
  <a href="https://giphy.com/gifs/TELUS-frog-frogs-telus-MXA8QkWdYxgE2dWZ1I"style="display: block; margin-left: auto; margin-right: auto; text-align: center">via GIPHY</a>

<div th:replace="/layouts/footer :: footer"></div>
</body>
</html>