<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{home.page}"></title>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">

</head>
<body>
    <div th:replace="/layouts/navbar :: header"></div>

    <iframe src="https://giphy.com/embed/E1w0yvMxBIv5M8WkL8" width="480" height="384" frameBorder="0"
            class="giphy-embed" allowFullScreen style="display: block;
            margin-left: auto; margin-right: auto"></iframe>

    <p>
        <a href="https://giphy.com/gifs/wave-morning-chill-Rjub7AIEIbXT0tzbr3"
           style="display: block; margin-left: auto; margin-right: auto; text-align: center">via GIPHY</a>
    </p>

</body>
</html>