<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title th:text="#{issue.issue}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div th:replace="/layouts/navbar :: header"></div>

<div class="container">

    <h1 th:if="${issue.id == null}" th:text="#{issue.new}"/>
    <h1 th:if="${issue.id != null}" th:text="#{edit.issue.nr}">
        <span th:text="${issue.code}"></span>
    </h1>

    <form th:action="@{/issues/save}" th:object="${issue}" method="post">
        <input type="hidden" th:field="*{id}">


        <div class="mb-1 row">
            <div class="col-2">
                <label for="issue-title" class="form-label" th:text="#{project.name}"/>
            </div>

            <div class="col-4">
                <input type="text"
                       th:class="'form-control ' + ${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                       id="issue-title"
                       th:field="*{title}"
                       th:placeholder="#{issue.name.placeholder}">
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-2">
                <label for="issue-code" class="form-label" th:text="#{project.code}"/>
            </div>

            <div class="col-4">
                <input type="text" class="form-control" id="issue-code"
                       th:field="*{code}"
                       th:placeholder="#{issue.code.placeholder}">
                <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col-2">
                <label for="project-description" class="form-label" th:text="#{project.description}"/>
            </div>
            <div class ="col-4">
                <textarea class="form-control" id="project-description" rows="10" th:field="*{content}"></textarea>
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col-2">
                <label for="person" class="form-label" th:text="#{responsible}"/>
            </div>
            <div class="col-4" >
                <select id="person"
                        class="form-control"
                        th:field="*{person}">
                    <option th:each="person : ${people}"
                            th:value="${person.id}"
                            th:text="${person.fullName}">
                    </option>
                </select>
            </div>
        </div>

        <div class="mb-2 row">
            <div class="col-2">
                <label for="project" class="form-label" th:text="#{project}"/>
            </div>
            <div class="col-4" >
                <select id="project"
                        class="form-control"
                        th:field="*{project}">
                    <option th:if="${project.enabled == true}"
                            th:each="project : ${projects}"
                            th:value="${project.id}"
                            th:text="${project.code}">
                    </option>
                </select>
            </div>
        </div>

        <div class="mb-2 row">
            <div class = "col-2">
                <label for="issue" class="form-label" th:text="#{type}"/>
            </div>

            <div class="col-4">
                <select name="issue" id="issue" class="form-control" th:field="*{type}">

                    <option th:each="issueType : ${T(wsb.wsb_bugtracker.models.IssueType).values()}"
                            th:value="${issueType}"
                            th:text="${issueType}">

                    </option>
                </select>
            </div>
        </div>

        <div class="mb-2 row">
            <div class="col-2">
                <label for="issue" class="form-label" th:text="#{issue.priority}"/>
            </div>

            <div class="col-4">
                <select name="issue" id="issue" class="form-control" th:field="*{priority}">

                    <option th:each="issuePriority : ${T(wsb.wsb_bugtracker.models.IssuePriority).values()}"
                            th:value="${issuePriority}"
                            th:text="${issuePriority}">

                    </option>
                </select>
            </div>
        </div>

        <div class="mb-2 row">
            <div class="col-2">
                <label for="issue" class="form-label" th:text="#{issue.status}"/>
            </div>

            <div class="col-4">
                <select name="issue" id="issue" class="form-control" th:field="*{status}">

                    <option th:each="issueStatus : ${T(wsb.wsb_bugtracker.models.IssueStatus).values()}"
                            th:value="${issueStatus}"
                            th:text="${issueStatus}">

                    </option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{save}"/>
    </form>
    <div th:replace="/layouts/footer :: footer"></div>
</body>
</html>